
/* overrides for bootstrap & react-toastify defaults */
@import 'base/colors.scss';
@import 'base/variables';

/* node_modules imports */
@import "~bootstrap/scss/bootstrap";
@import 'react-toastify/dist/ReactToastify.css';

/* local styles */
html, body, #root{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: $background;
}

.Bootstrap-Button {
    color: $white-text;
    background-color: $button;
    padding: 5px;
}
.Bootstrap-Button:hover {
    color: $white-text;
}
.button-on-slick :where(h3, .Bootstrap-Button) {
    transform: translateY(50px);
    transition: 0.2s;
}
.button-on-slick:hover :where(h3, .Bootstrap-Button) {
    transform: translateY(0);
}
.button-on-slick .Bootstrap-Button {
    opacity: 0;
}
.button-on-slick:hover .Bootstrap-Button {
    opacity: 1;
}

.Load-more-button {
    color: $white-text;
    background-color: $button;
    width: 65%;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.line {
    width: 84%;
    border: 2px solid black;
    margin: 40px 8%;
}
.meal-select {
    width: 20%;
    min-width: 200px;
    margin-left: auto;
}
.header-scrolling {
    transform: translateY(-100%);
}
.margin-for-first {
    margin-top: 90px;
}
.carousel-container {
    margin-bottom: 10px;
}

#main {
    display: flex;
    flex-direction: row;
}
#main > #left {
    min-width: 75%;
}

#main > #right {
    max-width: 25%;
    padding-top: 40px;
    padding-right: 4%;
}
@media screen and (max-width: 1000px) {
    #main {
        flex-direction: column-reverse;
    }
    #main > #right {
        min-width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
}

//filters and search
.search-form {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}
.search-form > input[name='search'] {
    outline: 0;
    background-color: none;
    opacity: 0.5;
    content: url("../../images/free-icon-magnifying-glass-126474.png");
    width: 20px;
    position: absolute;
    margin: 37px 0 0 12%;
}
.search-form > input[name='search-line'] {
    width: 80%;
    border-radius: 10px;
    padding: 4px;
    padding-left: 28px;
    font-size: 16px;
    border: none;
    background-color: $white-text;
    margin: 30px 10%;
}

.search-form > h5 {
    width: fit-content;
    margin: auto;
}
.search-form > input[name='filter-line'] {
    width: 80%;
    margin: 10px 30px;
    background-color: $white-text;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 4px;
}
.search-form > .filter-more {
    border: none;
    background: none;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: -20%;
}

.search-form > .filter-more > img {
    content: url("../../images/arrow-down-b_icon-icons.com_50479.png");
    max-width: 20px;
}