
/* overrides for bootstrap & react-toastify defaults */
@import 'base/colors.scss';
@import 'base/variables';

/* node_modules imports */
@import "~bootstrap/scss/bootstrap";
@import 'react-toastify/dist/ReactToastify.css';

/* local styles */
html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: $background;
}
#root{
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-button {
    width: 10%;
}

.Bootstrap-Button {
    color: $white-text;
    background-color: $button;
    padding: 5px;
}
.Bootstrap-Button:hover {
    color: $white-text;
}

.Bootstrap-Button-white {
    color: $black-text;
    background-color: $white-text;
    padding: 5px;
}
.Bootstrap-Button-white:hover {
    color: $black-text;
    background-color: $white-text-hover;
}


//Header
.BrandContent {
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  word-spacing: 0.05rem;
}
.StyledHeader {
  transition: 0.2s;
  position:fixed;
  z-index: 10;

  color: #fff;
  width: 100%;
  display: block;
  font-size: 1rem;
  background-color: #343A40;
  margin-bottom: 1rem;
  @media all and (max-width: 769px) {
    font-size: 0.5rem;
  }
}
.LogoImg {
  width: 80px;
}
.LogoWrapper {
  display: flex;
  align-items: center;
}


//Slick-carousel
.slider {
    width: 100%;
    margin: 3%;
    aspect-ratio: 16 / 9;
    background-color: $background;
}
.slider img {
    aspect-ratio: 16 / 9;
}
.button-on-slick :where(h3, .Bootstrap-Button) {
    transform: translateY(50px);
    transition: 0.2s;
}
.button-on-slick:hover :where(h3, .Bootstrap-Button) {
    transform: translateY(0);
}
.button-on-slick .Bootstrap-Button {
    opacity: 0;
}
.button-on-slick:hover .Bootstrap-Button {
    opacity: 1;
}

.Load-more-button {
    color: $white-text;
    background-color: $button;
    width: 65%;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.Logout-Button {
    border-color: $button;
    background-color: $white-text;
}

.Logout-Button:hover {
    background-color: $white-text-hover;
}

.Auth-Button, .Auth-Button:hover {
    color: $white-text;
}

.line {
    width: 84%;
    border: 2px solid black;
    margin: 40px 8%;
}
.meal-select {
    max-width: 20%;
    min-width: 200px;
}
.header-scrolling {
    transform: translateY(-100%);
}
.margin-for-first {
    margin-top: 90px;
}
.carousel-container {
    margin-bottom: 10px;
}

#main {
    display: flex;
    flex-direction: row;
}
#main > #left {
    flex-basis: 75%;
    // min-width: 75%;
}

#main > #right {
    flex-basis: 25%;
    // max-width: 25%;
    padding-top: 40px;
    padding-right: 4%;
}

//filters and search
.search-form {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    padding: 3%;
}
.search-form > input[name='search'] {
    outline: 0;
    background-color: none;
    opacity: 0.5;
    content: url("../../images/free-icon-magnifying-glass-126474.png");
    width: 20px;
    position: absolute;
    margin: 37px 0 0 3%;
}
.search-form > input[name='search-line'] {
    width: 98%;
    border-radius: 10px;
    padding: 4px;
    padding-left: 28px;
    font-size: 16px;
    border: none;
    background-color: $white-text;
    margin: 30px 1%;
}

.search-form > h5 {
    width: fit-content;
    margin: auto;
}
.filter-item {
    background-color: $white-text;
    font-size: 16px;
    width: 98%;
    margin: 0 auto;
    border-radius: 10px;
}
.search-form > .filter-more {
    border: none;
    background: none;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: -20%;
}

.search-form > .filter-more > img {
    content: url("../../images/arrow-down-b_icon-icons.com_50479.png");
    max-width: 20px;
}


//Popups
.popup > * > div {
    background-color: $background;
}
.popup .popup-image {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.popup :where(.modal-div, .modal-ingredients) {
    flex-direction: row;
    display: flex;
    gap: 20px;
}
.popup .modal-div > .short-info {
    width: 100%;
}
.popup .info {
    background-color: $tyles;
    border-radius: 15px;
    padding: 9px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

//Profile
.profile-image {
    content: url("../../images/chef-hat.jpg");
    width: 100%;
    border-radius: 100%;
}

.rgt-cell:not(.rgt-row-edit):not(.rgt-row-not-selectable) {
    cursor: pointer;
}
  
.rgt-row-selected {
    background: #f3f6f9;
}
  
.rgt-row-hover {
  background: #f7f7f7;
}

.olb {
    outline: 3px solid black;
}



@media screen and (max-width: 992px) {
    #main {
        flex-direction: column-reverse;
    }
    #main > #right {
        min-width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .popup .modal-div {
        flex-direction: column;
        justify-content: space-between;
        > div {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            img {
                display: block;
            }
        }
    }
    .slider {
        height: 200px;
    }
    .slider img {
        height: 200px;
    }
}

@media screen and (max-width: 420px) {
    .LogoImg {
        width: 40px;
    }
}