
/* overrides for bootstrap & react-toastify defaults */
@import 'base/colors.scss';
@import 'base/variables';

/* node_modules imports */
@import "~bootstrap/scss/bootstrap";
@import 'react-toastify/dist/ReactToastify.css';

/* local styles */
html, body, #root{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #FAF5E1;
}