
/* overrides for bootstrap & react-toastify defaults */
@import 'base/colors.scss';
@import 'base/variables';

/* node_modules imports */
@import "~bootstrap/scss/bootstrap";
@import 'react-toastify/dist/ReactToastify.css';

/* local styles */
html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: $background;
}
#root{
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-button {
    width: 10%;
}

.Bootstrap-Button {
    color: $white-text;
    background-color: $button;
    padding: 5px;
}
.Bootstrap-Button:hover {
    color: $white-text;
}

.Bootstrap-Button-white {
    color: $black-text;
    background-color: $white-text;
    padding: 5px;
}
.Bootstrap-Button-white:hover {
    color: $black-text;
    background-color: $white-text-hover;
}


//Header
.BrandContent {
  display: flex;
  font-family: Inter;
}
.LogoImg {
  width: 80px;
}
.LogoWrapper {
  display: flex;
  align-items: center;
}


//Slick-carousel
.slider {
    width: 100%;
    @media screen and (min-width: 1300px) {
        width: 70%;
    }
    @media screen and (min-width: 2800px) {
        width: 40%;
    }
    margin: 3%;
    vertical-align: middle; 
    background-color: $background;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 6px 3px 1px #BEBEBE;
}
.slider img {
    position: absolute;
    height: 100vh;
    width: 100%;
}
.button-on-slick :where(h3, .Bootstrap-Button, img) {
    transition: 0.2s;
}
.button-on-slick :where(h3, .Bootstrap-Button) {
    transform: translateY(100%);
}
.button-on-slick:hover :where(h3, .Bootstrap-Button, img) {
    transform: translateY(0);
    transform: scale(1.05, 1.05);
}
.button-on-slick .Bootstrap-Button {
    opacity: 0;
}
.button-on-slick:hover .Bootstrap-Button {
    opacity: 1;
}

.Load-more-button {
    color: $white-text;
    background-color: $button;
    width: 65%;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.Logout-Button {
    border-color: $button;
    background-color: $white-text;
}

.Logout-Button:hover {
    background-color: $white-text-hover;
}

.Auth-Button, .Auth-Button:hover {
    color: $white-text;
}

.meal-tyles {
    
    @media screen and (max-width: 420px) {
        & {
            margin: 0 10px;
            padding: 10px !important;
        }
    }
}

.line {
    width: 84%;
    border: 2px solid black;
    margin: 40px 8%;
}
.meal-select {
    max-width: 20%;
    min-width: 200px;
}
.header-scrolling {
    transform: translateY(-100%);
}
.margin-for-first {
    margin-top: 90px;
}
.carousel-container {
    margin-bottom: 10px;
}

#main {
    display: flex;
    flex-direction: row;
}
#main > #left {
    flex-basis: 75%;
    // min-width: 75%;
}

#main > #right {
    flex-basis: 25%;
    // max-width: 25%;
    padding-top: 40px;
    padding-right: 4%;
}


//new recipe popup
.left {
    flex-basis: 60%;
    // min-width: 25%;
}
.right {
    flex-basis: 40%;
}
.right img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 6px 3px 1px #BEBEBE;

    //for new browsers
    aspect-ratio: 1 / 1;
}
.new-ingredient > div {
    flex-basis: 100%;
    min-width: 100%;
    justify-content: left;
    > div {
        flex-basis: 40%;
    }
    > button {
        margin-left: 30px;
        flex-basis: 15%;
    }
}
.ingredients-list {
    border-bottom: 1px solid $black-text;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
    > .ingredient-name {
        flex-basis: 55%;
        display: flex;
        align-items: center;
    }
    > .ingredient-count {
        flex-basis: 30%;
        > input {
            border: 1px;
            height: 100%;
            border-radius: 5px;
        }
    }
    > .ingredient-button {
        flex-basis: 15%;
    }
}
.recipe-field {
    width: 98%;
    margin: 1%;
    padding: 1%;
    border: none;
    border-radius: 10px;
}
input.recipe-field {
    border-radius: 5px;
}


//filters and search
.search-form {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    padding: 3%;
}
.search-form > input[name='search'] {
    outline: 0;
    background-color: none;
    opacity: 0.5;
    content: url("../../images/free-icon-magnifying-glass-126474.png");
    width: 20px;
    position: absolute;
    margin: 37px 0 0 3%;
}
.search-form > input[name='search-line'] {
    width: 98%;
    border-radius: 10px;
    padding: 4px;
    padding-left: 28px;
    font-size: 16px;
    border: none;
    background-color: $white-text;
    margin: 30px 1%;
}

.search-form > h5 {
    width: fit-content;
    margin: auto;
}
.filter-item {
    background-color: $white-text;
    font-size: 16px;
    width: 98%;
    margin: 0 auto;
    border-radius: 10px;
}
.search-form > .filter-more {
    border: none;
    background: none;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: -20%;
}

.search-form > .filter-more > img {
    content: url("../../images/arrow-down-b_icon-icons.com_50479.png");
    max-width: 20px;
}


//Popups
.popup > * > div {
    background-color: $background;
}
.popup .popup-image {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.popup :where(.modal-div, .modal-ingredients) {
    flex-direction: row;
    display: flex;
    gap: 20px;
}
.popup .modal-div > .short-info {
    width: 100%;
}
.popup .info {
    background-color: $tyles;
    border-radius: 15px;
    padding: 9px;
    margin-bottom: 10px;
    display: flex;
    
    flex-direction: column;
}

//Profile
.profile-image {
    content: url("../../images/chef-hat.jpg");
    width: 100%;
    border-radius: 100%;
}

.rgt-cell:not(.rgt-row-edit):not(.rgt-row-not-selectable) {
    cursor: pointer;
}
  
.rgt-row-selected {
    background: #f3f6f9;
}
  
.rgt-row-hover {
  background: #f7f7f7;
}

.olb {
    outline: 3px solid black;
}
.MDBCard {
    max-width: 600px;
}



@media screen and (max-width: 992px) {
    #main {
        flex-direction: column-reverse;
    }
    #main > #right {
        min-width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .popup .modal-div {
        flex-direction: column;
        justify-content: space-between;
        > div {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            width: 100%;
            img {
                display: block;
            }
        }
    }
    .slider {
        height: 50vh;
    }
    .slider img {
        height: 50vh;
    }
    .button-on-slick :where(h3, .Bootstrap-Button) {
        transform: translateY(200%);
    }
    
    .LogoImg {
        width: 25%;
        transform: translateY(-10%);
    }
    .LogoWrapper h1 {
        font-size: 120%;
    }
    
    .carousel-container {
        bottom: 40%;
    }
}

@media screen and (max-width: 420px) {
    .LogoImg {
        width: 40px;
    }
    .carousel-container {
        bottom: 50%;
    }
    .carousel-container h3 {
        font-size: 1em;
    }
    .carousel-container button {
        font-size: 0.7em;
        margin: 0.5em;
    }


    .button-on-slick :where(h3, .Bootstrap-Button, img) {
        transition: 0s;
    }.button-on-slick :where(h3, .Bootstrap-Button) {
        transform: translateY(0);
    }
    .button-on-slick .Bootstrap-Button {
        opacity: 1;
    }
    .button-on-slick:hover :where(h3, .Bootstrap-Button) {
        transform: translateY(0);
    }
    .button-on-slick:hover img {
        transform: scale(1, 1);
    }


    .MDBCard {
        margin: 0%;
        margin-bottom: 5%;
        max-width: 100%;
        > div {
            padding: auto 8% !important;
        }
        h2 {
            font-size: 1.2em;
        }
        h6, input, label, button {
            font-size: 0.8em;
        }
    }
}