
/* overrides for bootstrap & react-toastify defaults */
@import 'base/colors.scss';
@import 'base/variables';

/* node_modules imports */
@import "~bootstrap/scss/bootstrap";
@import 'react-toastify/dist/ReactToastify.css';

/* local styles */
html, body, #root{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #FAF5E1;
}

.Bootstrap-Button {
    color: $white-text;
    background-color: $button;
    padding: 5px;
}
.Bootstrap-Button:hover {
    color: $white-text;
}
.button-on-slick :where(h3, .Bootstrap-Button) {
    transform: translateY(100%);
    transition: 0.2s;
}
.button-on-slick:hover :where(h3, .Bootstrap-Button) {
    transform: translateY(0);
}
.button-on-slick .Bootstrap-Button {
    opacity: 0;
}
.button-on-slick:hover .Bootstrap-Button {
    opacity: 1;
}

.Load-more-button {
    color: $white-text;
    background-color: $button;
    width: 65%;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.line {
    width: 84%;
    border: 2px solid black;
    margin: 40px 8%;
}