$background: #FAF5E1;
$tyles: #D9D9D9;
$button: #E09822;
$header: #343A40;
$black-text: #000000;
$white-text: #FFFFFF;
$white-text-hover: #f6f6f6;

$info: $tyles;
$danger: $header;
$success: $white-text;
$primary: $button;
$danger: $background;